@import url(./basic-styles.css);

/* lesson styles */

.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 10px solid;
    /* placement of elements in columns */
    justify-items: center;
    /* placement of elements in rows */
    align-items: center;
    /* placement of columns in the container if container has free place */
    justify-content: space-evenly;
    /* placement of rows in the container if container has free height */
    align-content: space-between;
}

.grid-item4 {
    justify-self: start;
    align-self: end;
}